
body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight-light;
  line-height: $base-line-height;
}

/*
// Typography
*/
h1, h2, h3, h4, h5 {
  font-family: $base-title-family;
  font-weight: $base-font-weight-bold;
  color: $title-color;
}

.title-one {
  font-size: 48px;
  line-height: 50px;
  font-weight: $base-font-weight-bold;
  font-family: $base-title-family;
}

.title-two {
  font-size: 32px;
  line-height: 38px;
  font-weight: $base-font-weight-bold;
  font-family: $base-title-family;

}

p {
  font-size: $base-font-size;
  line-height: $base-line-height;
}


a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color;
  text-decoration: none;
}

// Buttons
.mui.btn.btn-primary {
  background-color: $green;
  border-color: $green;
  border-radius: 0;
  padding: 8px 26px;

  &:hover {
    background-color: lighten($green, 10%);
    border-color: lighten($green, 10%);
  }

  &:active,
  &:focus {
    background-color: darken($green, 15%);
    border-color: darken($green, 15%);
    box-shadow: none
  }
}

.mui.btn.btn-link {
  color: $gray;
  border-radius: 0;
  padding: 8px 26px;

  &:hover {
    background-color: lighten($gray, 10%);
    border-color: lighten($gray, 10%);
    color: $black;
    text-decoration: none;
  }

  &:active,
  &:focus {
    background-color: darken($gray, 15%);
    border-color: darken($gray, 15%);
    box-shadow: none
  }
}
