/*
// Colors
*/
$green: #6ead41 !default;
$dark-green: #005a3c !default;
$brown: #525252 !default;
$yellow: #eab000 !default;
$gray: #c2d5ce !default;
$light-gray: #d7efe1 !default;
$lighter-gray: #f9f9f9 !default;
$white: #fff !default;
$black: #000 !default;


/* Typography
// */
$base-font-size: 14px;
$text-color: $brown;
$title-color: $dark-green;
$base-font-family: 'Ubuntu', sans-serif;
$base-title-family: 'Comfortaa', sans-serif;
$base-line-height: 25px;

$base-font-weight-light: 300;
$base-font-weight: 400;
$base-font-weight-bold: 700;

/* Helps
// */
$background-color: $white;
$border-color: $gray;
$link-color: $green;
$link-hover-color: dark($green, 5%);
